// Colors theme
$backgroundGradient: linear-gradient(
  288deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 52%,
  rgba(31, 116, 133, 1) 100%
);
$colorMain: #2d2d2d;
$colorSecondary: #9ed3da;
$colorYellow: #ffcb08;
$colorRed: #be0101;

// Utils constants
$transition: all 0.2s ease;
$animationShadow: rgba(250, 250, 250, 0.3) 0px 0px 0px 3px;

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
