@import "../../Styles/constants.scss";

.content-exchange {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;

    .info {
        width: 40%;

        h2 {
            color: $colorYellow;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 15px;

            font-size: 1.8em;
        }
    }

    img {
        width: 30%;
    }
}