@import "../../Styles/constants.scss";

$backgroundHover: rgba(255, 255, 255, 0.2);
$backgroundActive: rgba(255, 255, 255, 0.3);

nav.navigaion-bar {
    align-items: center;
    // background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;

    img.brand-logo {
        max-height: 100px;
    }

    .list {
        a.item {
            animation: fadeInEffect 1s;
            border-radius: 5px;
            color: $colorYellow;
            transition: $transition;
            margin: 0 5px;
            text-decoration: none;
            padding: 8px;
        }
    }
}