@import "../../Styles/constants.scss";

$backgroundHover: rgba(255, 255, 255, 0.2);
$backgroundActive: rgba(255, 255, 255, 0.3);

nav.navigaion-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    //background: $colorMainGradient;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 10000;

    @media (max-width: $tablet-big) {
        flex-direction: column;
    }

    img.brand-logo {
        max-height: 4rem;
    }

    .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        a{
            &.item {
                animation: fadeInEffect 1s;
                border-radius: 5px;
                color: $colorYellow;
                transition: $transition;
                margin: 0 5px;
                text-decoration: none;
                padding: 8px;
            }

            &.button-google-play {
                img {
                    width: 7rem;
                }
            }
        }

        @media (max-width: $tablet-small) {
            & {
                flex-wrap: wrap;
                justify-content: center;

                .item {
                    min-width: 4rem;
                }
            }
        }
    }
}