@import "../../Styles/constants.scss";

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px;

    img {
        max-width: 128px;
    }

    .block {
        display: flex;
        align-items: center;

        a.facebook {
            margin-right: 25px;

            img {
                max-width: 32px;
            }
        }
    }

    a.support {
        background-color: $colorYellow;
        color: $colorMain;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
    }
}