@import "../../Styles/constants.scss";

// Valor hexadecimal del color de relleno de los iconos
$icon-fill: '9ed3da';

footer {
    box-sizing: border-box;
    background-color: $colorSecondary;
    color: $colorMain;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    padding-bottom: 2rem;

    .container {
        display: flex;
        flex-direction: column;
    }

    img {
        object-fit: contain;
    }

    .alycoin {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: radial-gradient(circle at center center, #F8F8F8 50%, #000000 100%);
        border-radius: 100%;
        width: 25vmin;
        height: 25vmin;
        max-width: 6rem;
        max-height: 6rem;
        padding: .6rem;
        z-index: 1000;
        transform: translateY(-.5rem);

        .logo {
            width: 90%;
            height: 90%;
            object-fit: contain;
            animation: rotate-alycoin 4s infinite linear;

            @keyframes rotate-alycoin {
                0 {
                transform: rotateY(0);
              }
              50% {
                transform: rotateY(180deg);
              }
              100% {
                transform: rotateY(0deg);
              }
            }
        }

        .letters {
            position: absolute;
            bottom: -2.5rem;
            left: 50%;
            width: 8rem;
            transform: translateX(-50%);
            margin: 0 auto;
        }

        &:after {
            content: 'Consigue AlyCoin desde AlyExchange';
            position: absolute;
            display: block;
            right: calc(100% - 10px);
            top: -35px;
            width: 7rem;
            padding: .5rem;
            border-radius: 5px;
            color: $colorMain;
            background-color: darken($colorSecondary, 18);
            font-size: .75rem;
            font-weight: normal;
            text-align: center;
            z-index: -1000;
            transform: scale(0);
            transform-origin: right bottom;
            transition: transform .25s;
        }

        &:hover {
            &:after {
                transform: scale(1);
            }
        }
    }

    .Copyright {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        font-size: clamp(.9rem, 2.5vw, 1.1rem);

        span {
            margin-bottom: .5rem;
        }
    }

    .support-container {
        position: relative;
        min-width: 18rem;
        padding-top: 1.75rem;
        margin-bottom: 1rem;

        p {
            position: absolute;
            top: 0;
            left: 0;
            padding: .05rem .5rem;
            font-size: clamp(.9rem, 2.5vw, 1.1rem);
            opacity: 0;
            transition: opacity .35s;

            a {
                display: inline-block;
                font-weight: normal;
                text-decoration-style: dashed;
                font-size: .85rem;
                color: lighten($colorMain, 5);
                padding-left: .5rem;
            }

            &.active {
                opacity: 1;
                width: 100%;
            }
        }
    }

    a.support {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $colorSecondary;
        background-color: $colorMain;
        font-weight: normal;
        border-radius: 7px;
        width: 100%;
        padding: .5rem;
        text-decoration: none;
        transform: scale(1);
        transition: transform .25s;

        &:hover {
            transform: scale(1.05);
        } 
    }

    .social-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        p, a {
            margin-right: .5rem;
        }
    }

    .social-icon {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background: url('data:image/svg+xml;charset=US-ASCII,') no-repeat 97% center, $colorMain;
            background-size: .9rem;
            background-position: center;
            border-radius: 100px;
            padding: .5rem;
            margin-right: 5px;
            transform: scale(1);
            transition: transform .25s;

            &:hover {
                transform: scale(1.1);
            }

            &:first-child {
                margin-left: 7px;
            }

            &.twitter {
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22256px%22%20height%3D%22209px%22%20viewBox%3D%220%200%20256%20209%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%3Cpath%20d%3D%22M256%2C25.4500259%20C246.580841%2C29.6272672%20236.458451%2C32.4504868%20225.834156%2C33.7202333%20C236.678503%2C27.2198053%20245.00583%2C16.9269929%20248.927437%2C4.66307685%20C238.779765%2C10.6812633%20227.539325%2C15.0523376%20215.57599%2C17.408298%20C205.994835%2C7.2006971%20192.34506%2C0.822%20177.239197%2C0.822%20C148.232605%2C0.822%20124.716076%2C24.3375931%20124.716076%2C53.3423116%20C124.716076%2C57.4586875%20125.181462%2C61.4673784%20126.076652%2C65.3112644%20C82.4258385%2C63.1210453%2043.7257252%2C42.211429%2017.821398%2C10.4359288%20C13.3005011%2C18.1929938%2010.710443%2C27.2151234%2010.710443%2C36.8402889%20C10.710443%2C55.061526%2019.9835254%2C71.1374907%2034.0762135%2C80.5557137%20C25.4660961%2C80.2832239%2017.3681846%2C77.9207088%2010.2862577%2C73.9869292%20C10.2825122%2C74.2060448%2010.2825122%2C74.4260967%2010.2825122%2C74.647085%20C10.2825122%2C100.094453%2028.3867003%2C121.322443%2052.413563%2C126.14673%20C48.0059695%2C127.347184%2043.3661509%2C127.988612%2038.5755734%2C127.988612%20C35.1914554%2C127.988612%2031.9009766%2C127.659938%2028.694773%2C127.046602%20C35.3777973%2C147.913145%2054.7742053%2C163.097665%2077.7569918%2C163.52185%20C59.7820257%2C177.607983%2037.1354036%2C186.004604%2012.5289147%2C186.004604%20C8.28987161%2C186.004604%204.10888474%2C185.75646%200%2C185.271409%20C23.2431033%2C200.173139%2050.8507261%2C208.867532%2080.5109185%2C208.867532%20C177.116529%2C208.867532%20229.943977%2C128.836982%20229.943977%2C59.4326002%20C229.943977%2C57.1552968%20229.893412%2C54.8901664%20229.792282%2C52.6381454%20C240.053257%2C45.2331635%20248.958338%2C35.9825545%20256%2C25.4500259%22%20fill%3D%22%23#{$icon-fill}%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
            }

            &.facebook {
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M9%208h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333%201.115-1.333h2.885v-5h-3.808c-3.596%200-5.192%201.583-5.192%204.615v3.385z%22%20fill%3D%22%23#{$icon-fill}%22%2F%3E%3C%2Fsvg%3E');
            }

            &.instagram {
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%3Cpath%20d%3D%22M127.999746%2C23.06353%20C162.177385%2C23.06353%20166.225393%2C23.1936027%20179.722476%2C23.8094161%20C192.20235%2C24.3789926%20198.979853%2C26.4642218%20203.490736%2C28.2166477%20C209.464938%2C30.5386501%20213.729395%2C33.3128586%20218.208268%2C37.7917319%20C222.687141%2C42.2706052%20225.46135%2C46.5350617%20227.782844%2C52.5092638%20C229.535778%2C57.0201472%20231.621007%2C63.7976504%20232.190584%2C76.277016%20C232.806397%2C89.7746075%20232.93647%2C93.8226147%20232.93647%2C128.000254%20C232.93647%2C162.177893%20232.806397%2C166.225901%20232.190584%2C179.722984%20C231.621007%2C192.202858%20229.535778%2C198.980361%20227.782844%2C203.491244%20C225.46135%2C209.465446%20222.687141%2C213.729903%20218.208268%2C218.208776%20C213.729395%2C222.687649%20209.464938%2C225.461858%20203.490736%2C227.783352%20C198.979853%2C229.536286%20192.20235%2C231.621516%20179.722476%2C232.191092%20C166.227425%2C232.806905%20162.179418%2C232.936978%20127.999746%2C232.936978%20C93.8200742%2C232.936978%2089.772067%2C232.806905%2076.277016%2C232.191092%20C63.7971424%2C231.621516%2057.0196391%2C229.536286%2052.5092638%2C227.783352%20C46.5345536%2C225.461858%2042.2700971%2C222.687649%2037.7912238%2C218.208776%20C33.3123505%2C213.729903%2030.538142%2C209.465446%2028.2166477%2C203.491244%20C26.4637138%2C198.980361%2024.3784845%2C192.202858%2023.808908%2C179.723492%20C23.1930946%2C166.225901%2023.0630219%2C162.177893%2023.0630219%2C128.000254%20C23.0630219%2C93.8226147%2023.1930946%2C89.7746075%2023.808908%2C76.2775241%20C24.3784845%2C63.7976504%2026.4637138%2C57.0201472%2028.2166477%2C52.5092638%20C30.538142%2C46.5350617%2033.3123505%2C42.2706052%2037.7912238%2C37.7917319%20C42.2700971%2C33.3128586%2046.5345536%2C30.5386501%2052.5092638%2C28.2166477%20C57.0196391%2C26.4642218%2063.7971424%2C24.3789926%2076.2765079%2C23.8094161%20C89.7740994%2C23.1936027%2093.8221066%2C23.06353%20127.999746%2C23.06353%20M127.999746%2C0%20C93.2367791%2C0%2088.8783247%2C0.147348072%2075.2257637%2C0.770274749%20C61.601148%2C1.39218523%2052.2968794%2C3.55566141%2044.1546281%2C6.72008828%20C35.7374966%2C9.99121548%2028.5992446%2C14.3679613%2021.4833489%2C21.483857%20C14.3674532%2C28.5997527%209.99070739%2C35.7380046%206.71958019%2C44.1551362%20C3.55515331%2C52.2973875%201.39167714%2C61.6016561%200.769766653%2C75.2262718%20C0.146839975%2C88.8783247%200%2C93.2372872%200%2C128.000254%20C0%2C162.763221%200.146839975%2C167.122183%200.769766653%2C180.774236%20C1.39167714%2C194.398852%203.55515331%2C203.703121%206.71958019%2C211.845372%20C9.99070739%2C220.261995%2014.3674532%2C227.400755%2021.4833489%2C234.516651%20C28.5992446%2C241.632547%2035.7374966%2C246.009293%2044.1546281%2C249.28042%20C52.2968794%2C252.444847%2061.601148%2C254.608323%2075.2257637%2C255.230233%20C88.8783247%2C255.85316%2093.2367791%2C256%20127.999746%2C256%20C162.762713%2C256%20167.121675%2C255.85316%20180.773728%2C255.230233%20C194.398344%2C254.608323%20203.702613%2C252.444847%20211.844864%2C249.28042%20C220.261995%2C246.009293%20227.400247%2C241.632547%20234.516143%2C234.516651%20C241.632039%2C227.400755%20246.008785%2C220.262503%20249.279912%2C211.845372%20C252.444339%2C203.703121%20254.607815%2C194.398852%20255.229725%2C180.774236%20C255.852652%2C167.122183%20256%2C162.763221%20256%2C128.000254%20C256%2C93.2372872%20255.852652%2C88.8783247%20255.229725%2C75.2262718%20C254.607815%2C61.6016561%20252.444339%2C52.2973875%20249.279912%2C44.1551362%20C246.008785%2C35.7380046%20241.632039%2C28.5997527%20234.516143%2C21.483857%20C227.400247%2C14.3679613%20220.261995%2C9.99121548%20211.844864%2C6.72008828%20C203.702613%2C3.55566141%20194.398344%2C1.39218523%20180.773728%2C0.770274749%20C167.121675%2C0.147348072%20162.762713%2C0%20127.999746%2C0%20Z%20M127.999746%2C62.2703115%20C91.698262%2C62.2703115%2062.2698034%2C91.69877%2062.2698034%2C128.000254%20C62.2698034%2C164.301738%2091.698262%2C193.730197%20127.999746%2C193.730197%20C164.30123%2C193.730197%20193.729689%2C164.301738%20193.729689%2C128.000254%20C193.729689%2C91.69877%20164.30123%2C62.2703115%20127.999746%2C62.2703115%20Z%20M127.999746%2C170.667175%20C104.435741%2C170.667175%2085.3328252%2C151.564259%2085.3328252%2C128.000254%20C85.3328252%2C104.436249%20104.435741%2C85.3333333%20127.999746%2C85.3333333%20C151.563751%2C85.3333333%20170.666667%2C104.436249%20170.666667%2C128.000254%20C170.666667%2C151.564259%20151.563751%2C170.667175%20127.999746%2C170.667175%20Z%20M211.686338%2C59.6734287%20C211.686338%2C68.1566129%20204.809755%2C75.0337031%20196.326571%2C75.0337031%20C187.843387%2C75.0337031%20180.966297%2C68.1566129%20180.966297%2C59.6734287%20C180.966297%2C51.1902445%20187.843387%2C44.3136624%20196.326571%2C44.3136624%20C204.809755%2C44.3136624%20211.686338%2C51.1902445%20211.686338%2C59.6734287%20Z%22%20fill%3D%22%23#{$icon-fill}%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
            }

            &.telegram {
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3Aserif%3D%22http%3A%2F%2Fwww.serif.com%2F%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A1.41421%3B%22%3E%3Cpath%20id%3D%22telegram-1%22%20d%3D%22M18.384%2C22.779c0.322%2C0.228%200.737%2C0.285%201.107%2C0.145c0.37%2C-0.141%200.642%2C-0.457%200.724%2C-0.84c0.869%2C-4.084%202.977%2C-14.421%203.768%2C-18.136c0.06%2C-0.28%20-0.04%2C-0.571%20-0.26%2C-0.758c-0.22%2C-0.187%20-0.525%2C-0.241%20-0.797%2C-0.14c-4.193%2C1.552%20-17.106%2C6.397%20-22.384%2C8.35c-0.335%2C0.124%20-0.553%2C0.446%20-0.542%2C0.799c0.012%2C0.354%200.25%2C0.661%200.593%2C0.764c2.367%2C0.708%205.474%2C1.693%205.474%2C1.693c0%2C0%201.452%2C4.385%202.209%2C6.615c0.095%2C0.28%200.314%2C0.5%200.603%2C0.576c0.288%2C0.075%200.596%2C-0.004%200.811%2C-0.207c1.216%2C-1.148%203.096%2C-2.923%203.096%2C-2.923c0%2C0%203.572%2C2.619%205.598%2C4.062Zm-11.01%2C-8.677l1.679%2C5.538l0.373%2C-3.507c0%2C0%206.487%2C-5.851%2010.185%2C-9.186c0.108%2C-0.098%200.123%2C-0.262%200.033%2C-0.377c-0.089%2C-0.115%20-0.253%2C-0.142%20-0.376%2C-0.064c-4.286%2C2.737%20-11.894%2C7.596%20-11.894%2C7.596Z%22%20fill%3D%22%23#{$icon-fill}%22%2F%3E%3C%2Fsvg%3E');
            }

            &.whatsapp {
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M.057%2024l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556%205.338-11.891%2011.893-11.891%203.181.001%206.167%201.24%208.413%203.488%202.245%202.248%203.481%205.236%203.48%208.414-.003%206.557-5.338%2011.892-11.893%2011.892-1.99-.001-3.951-.5-5.688-1.448l-6.305%201.654zm6.597-3.807c1.676.995%203.276%201.591%205.392%201.592%205.448%200%209.886-4.434%209.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452%200-9.887%204.434-9.889%209.884-.001%202.225.651%203.891%201.746%205.634l-.999%203.648%203.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941%201.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198%200-.52.074-.792.372s-1.04%201.016-1.04%202.479%201.065%202.876%201.213%203.074c.149.198%202.095%203.2%205.076%204.487.709.306%201.263.489%201.694.626.712.226%201.36.194%201.872.118.571-.085%201.758-.719%202.006-1.413.248-.695.248-1.29.173-1.414z%22%20fill%3D%22%23#{$icon-fill}%22%2F%3E%3C%2Fsvg%3E');
            }

            &.email {
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%203v18h24v-18h-24zm6.623%207.929l-4.623%205.712v-9.458l4.623%203.746zm-4.141-5.929h19.035l-9.517%207.713-9.518-7.713zm5.694%207.188l3.824%203.099%203.83-3.104%205.612%206.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z%22%20fill%3D%22%23#{$icon-fill}%22%2F%3E%3C%2Fsvg%3E')
            }
        }

    @media (max-width: $mobile) {
        & {
            flex-direction: column;
            align-items: center;

            .Copyright {
                text-align: center;
            }

            .support-container {
                min-width: 100%;
                width: 100%;
                max-width: 100%;
            }

            .alycoin {
                margin: .5rem 0;
            }
        }
    }

    @media (min-width: 481px) and (max-width: 560px) {
        & {
            .Copyright {
                width: 100% !important;
            }

            .Copyright, .support-container {
                margin-bottom: 1rem;
                align-items: flex-start !important;
                justify-content: flex-start !important;
            }

            .support-container {
                width: 70%;
                min-width: 70%;
            }
        }
    }

    @media (max-width: 960px) {
        & {
            flex-wrap: wrap;
            justify-content: space-evenly;

            .Copyright {
                width: 100%;
                align-items: center;
                margin-bottom: 1.5rem;
            }

            .support-container{
                width: 50%;
                justify-content: flex-end;
            }
        }
    }
}