* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
}

/* <Navigation-bar> */
nav.navigation-bar {
  align-items: center;
  background-color: #1f2022;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  padding: 10px 25px;
  width: 100%;
}

nav.navigation-bar span.logo img {
  max-width: 128px;
}

nav.navigation-bar div {
  display: flex;
}

nav.navigation-bar div a {
  border-radius: 5px;
  color: #fff;
  margin: 0 10px;
  padding: 15px 5px;
  transition: all 0.2s ease;
  text-decoration: none;
  text-align: center;
  min-width: 100px;
}

nav.navigation-bar div a.comming-soon {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

nav.navigation-bar div a.comming-soon::before {
  border-radius: 3px;
  content: 'Proximamente';
  font-size: 10px;
  background: #c53c1a;
  bottom: -10px;
  /* left: 50%; */
  position: absolute;
  padding: 5px;
}

nav.navigation-bar div a.comming-soon:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

nav.navigation-bar div a:hover {
  background-color: #3d3d3d80;
}

/* </Navigation-bar> */

/* <Cover> */
header.banner {
  align-items: flex-end;
  background-image: url(../images/cover-tranding.jpg);
  background-position-y: 85%;
  background-position-x: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  text-shadow: #1a1a1a 0px 5px 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
  height: 512px;
  width: 100%;
}

header.banner h1 {
  font-size: 3em;
}

header.banner p {
  margin: 25px 0;
  text-align: right;
  font-size: 1.3em;
  width: 50%;
}

header.banner .buttons a img {
  max-width: 128px;
}

/* </Cover> */

/* <CryptoPackages> */
div.content-cryptos {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

div.content-cryptos img {
  max-width: 64px;
  margin: 0 5%;
}

/* </CryptoPackages> */

/* <MainContainer> */
div.main-container {
  display: flex;
}

/* <ContainerRows> */
div.main-container div.content {
  flex: 1;
  /* margin-top: 20px; */
  padding: 15px;
}

div.main-container div.content div.row ul,
ol {
  margin: 0 25px;
}

div.main-container div.content div.row ul,
ol > li {
  margin-top: 10px;
}

div.main-container div.content div.row a {
  color: #4766bd;
  text-decoration: none;
}

div.main-container div.content div.row {
  align-items: stretch;
  display: flex;
  width: 100%;
}

div.main-container div.content div.row img.cover-image {
  object-fit: cover;
  width: 50%;
}

div.main-container div.content div.row img.cover-image.position {
  object-position: left;
  object-fit: contain;
}

div.main-container div.content div.row div.info {
  padding: 20px 5%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

div.main-container div.content div.row div.info h2 {
  color: #f3c849;
  font-size: 3em;
  text-align: center;
}

div.main-container div.content div.row div.info p {
  margin-top: 25px;
}

div.main-container div.content div.row div.info h3 {
  color: #2db66b;
  margin: 20px auto;
  text-transform: uppercase;
}

div.main-container div.content div.row div.info .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.main-container div.content div.row div.info .flex .flex-element {
  width: 50%;
}

/* </ContainerRows> */
div.main-container aside {
  background-color: rgba(250, 250, 250, 0.3);
  width: 256px;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.modal.hidden {
  display: none;
}

.modal h2 {
  color: #fff;
  text-transform: uppercase;
  /* margin-bottom: 25px; */
}

.modal p {
  color: #fff;
  text-align: justify;
  width: 50%;
}

.modal button {
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 15px;
  position: absolute;
  outline: none;
  top: 5%;
  right: 5%;
}

.modal iframe {
  background-color: #fff;
  border: none;
}

.modal a.registro {
  background-color: #2f802c;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  /* width: 100px; */
}

a.button {
  background-color: #2f802c;
  border-radius: 3px;
  color: #fff !important;
  padding: 5px;
}

footer {
  align-items: center;
  color: #fff;
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  padding: 25px;
}

footer a.facebook {
  margin: 0 25px;
}

footer a.facebook img {
  max-width: 24px;
}

footer a.terminos {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  /* nav.navigation-bar span.logo {
    display: none;
  } */

  nav.navigation-bar span.logo {
    font-size: 1.2em;
    margin: 15px 0;
  }

  nav.navigation-bar {
    align-items: center;
    background-color: #0c1a80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  header.banner {
    height: 256px;
    background-position-y: top;
    align-items: center;
    padding-right: 0;
  }

  header.banner h1 {
    font-size: 1.5em;
  }

  header.banner p {
    margin-top: 25px;
    text-align: center;
    font-size: 1em;
    width: 95%;
  }

  div.main-container div.content div.row {
    display: block;
    /* align-items: center; */
  }

  div.main-container div.content div.row img.cover-image {
    object-fit: cover;
    width: 100%;
    margin: 20px 0;
    height: 150px;
  }

  div.main-container div.content div.row div.info {
    padding: 0;
    flex: 1;
    width: auto !important;
  }

  div.main-container div.content div.row div.info h2 {
    font-size: 1.5em;
  }

  footer {
    padding: 20px 5px;
    font-size: 0.8em;
    justify-content: space-between;
  }

  footer p {
    text-align: center;
  }

  footer a.terminos {
    text-align: center;
  }

  .modal {
    overflow: auto;
    padding-top: 30vh;
    padding-bottom: 20vh;
  }

  .modal button {
    position: fixed;
    top: unset;
    bottom: 2%;
    left: 2.5%;
    width: 95%;
    /* right: 5%; */
  }

  .modal iframe {
    width: 100%;
    /* right: 5%; */
  }

  .modal p {
    width: 90%;
  }
}
