.prices-navbar {
  background-color: rgba(22, 22, 22, 0.87);
  backdrop-filter: blur(10px);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;

  & .List-of-prices {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
  }

  li {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width: 800px) {
      flex-direction: row;
    }

    img {
      margin-bottom: 5px;
      margin-right: 0;

      @media (min-width: 800px) {
        margin-right: 5px;
        margin-bottom: 0;
      }

      max-width: 22px;
    }

    span {
      font-size: 12px;
      text-align: center;
    }
  }
}
