@import "../../Styles/constants.scss";

.banner {
    position: relative;
    align-items: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem 4rem;
    width: 100%;
    // height: 100vh;

    img.cover {
        position: absolute;
        left: 17%;
        top: 50%;
        width: 320px;
        height: 480px;
        border-radius: 5px;
        overflow: hidden;
        opacity: 0;
        transition: transform 1s, opacity .25s;

        &.speedbanner1.animate, &.speedbanner2.animate {
            opacity: 1;
        }

        &.speedbanner1 {
            transform: translateY(-200%) translateX(-7rem);

            &.animate {
                transform: translateY(-45%) translateX(-7rem);
            }
        }

        &.speedbanner2 {
            transform: translateY(200%) translateX(7rem);

            &.animate {
                transform: translateY(-38%) translateX(7rem);
            }
        }
    }


    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        max-width: 45%;
        text-align: right;
        animation: from-right .45s;

        h1 {
            position: relative;
            display: block;
            color: $colorSecondary;
            padding: 1rem 0;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-size: 2.25rem;
            word-wrap: break-word;
            width: auto !important;

            span {
                display: inline-block;
                margin: 0;
                padding: 0;
                width: auto !important;

                &:first-letter {
                    color: darken($colorSecondary, 35);
                }
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 3px;
                width: 100%;
                background-color: $colorSecondary;
                transform: scaleX(.45);
                transform-origin: right center;
                transition: transform .2s;
            }

            &:hover {
                &:before { transform: scaleX(1.05); }
            }
        }

        p {
            margin: 25px 0;
            font-size: 1.35rem;
            text-align: right;
            width: 100%;
            line-height: 1.5;

            &.apps-links {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                min-width: 250px;
                max-width: 510px;

                .DownloadLink {
                    width: 50%;
                    min-width: 220px;
                    margin-right: .5rem;
                    margin-bottom: .5rem;
                }
            }
        }

        a.button-google-play {
            img {
                max-width: 220px;
            }
        }
    }

    @media (max-width: 319px) {
        & {
            justify-content: center;
            align-items: center;
            min-height: 510px !important;
            max-height: 510px !important;
            padding: 2rem 2rem !important;
            padding-top: 5rem !important;

            .info {
                padding: 0 !important;
                margin-top: 4rem !important;
                text-align: justify !important;
            }
        }
    }

    @media (max-width: 459px) {
        & {
            flex-direction: column;
            margin-bottom: 2rem;

            .info {
                min-width: 100%;
                h1 {
                    width: 100%;
                    font-size: 1.3rem !important;
                    text-align: center;
                }

                p {
                    font-size: 1rem !important;
                }
            }

            .apps-links {
                flex-direction: column !important;
                align-items: center;

                .DownloadLink {
                    margin-bottom: .75rem !important;
                }
            }

            .cover {
                display: none;
            }
        }
    }

    @media (min-width: 460px) and (max-width: $mobile) {
        & {
            flex-direction: column;
            min-height: 480px !important;
            max-height: 480px !important;
            align-items: center;
            padding: 1rem;

            .info {
                width: 100%;
                max-width: 100%;
                padding: 0 1rem;

                p {
                    width: 100%;

                    .DownloadLink {
                        max-width: 45%;
                    }
                }
            }

            .cover {
                display: none;
            }
        }
    }

    @media (min-width: 460px) and (max-width: 721px) {
        & {
            .apps-links {
                justify-content: center !important;
                align-items: center !important;
                transform: translateY(-1.5rem);
            }
        }

        img {
            display: none;
        }
    }

    @media (max-width: $tablet-big) {
        & {
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 1rem;

            .info {
                width: 80%;
                max-width: 100%;
                padding: 2rem;
                align-items: center;

                h1 {
                    font-size: 1.2rem;
                }

                p {
                    width: 100%;
                    font-size: 1.1rem;
                    text-align: center;

                    &.apps-links {
                        min-width: 460px;
                    }
                }
            }

            img.cover {
                left: 50%;
                top: 80%;
                width: 120px;
                height: 180px;

                &.speedbanner1 {
                    &.animate {
                        transform: translateY(-45%) translateX(calc(-50% -1.9rem));
                    }
                }

                &.speedbanner2 {
                    &.animate {
                        transform: translateY(-38%) translateX(calc(-50% + 1.9rem));
                    }
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 960px) {
        & {
            padding: 0;
            margin-top: 4rem;
            height: 580px;
            max-height: 580px;

            .info {
                width: 70%;
                max-width: 70%;
                padding-right: 2rem;

                p {
                    max-width: 95%;

                    &.apps-links {
                        max-width: 400px;
                    }
                }
            }

            img.cover {
                left: 2rem;
                top: 60%;
                width: 180px;
                height: 270px;

                &.speedbanner1 {
                    &.animate {
                        transform: translateY(-45%) translateX(-1.9rem);
                    }
                }

                &.speedbanner2 {
                    &.animate {
                        transform: translateY(-38%) translateX(6rem);
                    }
                }
            }
        }
    }

    @media (min-width: 961px) and (max-width: 1024px) {
        & {
            padding: 2rem;
            max-height: 680px;

            .info {
                width: 55%;
                max-width: 60%;
            }

            img.cover {
                left: 4rem;
                width: 240px;
                height: 360px;

                &.speedbanner1 {
                    &.animate {
                        transform: translateY(-45%) translateX(-1.25rem);
                    }
                }

                &.speedbanner2 {
                    &.animate {
                        transform: translateY(-38%) translateX(9rem);
                    }
                }
            }
        }
    }

    @media (min-width: 1025px) {
        & {
            min-height: 680px;
            height: 100vh;
            max-height: 720px;

            .info {
                width: 55%;
                max-width: 55%;

                h1 { font-size: 2rem; }
                p { 
                    width: 85%;
                }

                .apps-links {
                    width: 100%;
                    transform: translateX(2rem);
                }
            }

            img.cover {
                left: 1rem;

                &.speedbanner1 {
                    &.animate {
                        transform: translateY(-45%) translateX(0);
                    }
                }

                &.speedbanner2 {
                    &.animate {
                        transform: translateY(-38%) translateX(13.5rem);
                    }
                }
            }
        }
    }
}